<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Aurora Studio Mobile"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".StudioActivity" android:exported="false" />
        <activity android:name=".StudioV2Activity" android:exported="false" />
        <activity android:name=".StudioCurationActivity" android:exported="false" />
        <activity android:name=".StudioAudioCompletionActivity" android:exported="false" />
        <activity android:name=".StudioLibraryActivity" android:exported="false" />
        <activity android:name=".StudioAdminActivity" android:exported="false" />
        <activity
            android:name=".StudioHubActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
